/*For switching colorscheme*/
/*===========Variables=================*/
/*1. For TouchingHearts Scheme*/
/*url("../images/front/swing2.jpg");*/
/*Switching colors*/
/*General*/
/*Fonts*/
/*============Mixins=========*/
/*========Foundation Overrides===========*/
/*1. General Elemments*/
body {
  background: #fff;
  color: #373838;
  font-family: "Muli"; }

a {
  color: #a7b03d; }

h1, h2, h3, h4, h5 {
  color: #ededed;
  font-family: "Cinzel Decorative";
  font-weight: bold; }

/*2. Classes*/
.top-bar {
  background: #373838; }
  .top-bar .title-area .name h1 > a {
    background: #373838;
    border-right: 1px solid white; }
  .top-bar .top-bar-section ul li.active > a {
    background: #373838; }

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #9a1f2d;
  color: #fff; }

.top-bar-section li.active:hover:not(.has-form) a:not(.button) {
  background: #373838; }

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #373838; }

.top-bar-section li:not(.has-form) a:hover:not(.button) {
  color: #a7b03d;
  background: #373838; }

/*================Header Section===========*/
.headerWrapper {
  background: url("../images/front/gift.jpg");
  background-size: cover;
  color: #ededed; }

.logoArea img {
  margin: auto;
  display: block; }

/*========== Large Icons=========*/
.largeIcons {
  color: #ededed;
  text-shadow: 4px 3px 0 #292b0f, 9px 8px 0 rgba(0, 0, 0, 0.15); }
  .largeIcons a {
    color: #ededed; }

.fa-effect-9 .fa:after {
  box-shadow: 0 0 0 4px #005065; }
  .fa-effect-9 .fa:after:hover {
    box-shadow: #00a0cb; }

.no-touch .fa-effect-9a .fa:hover {
  box-shadow: 0 0 0 10px #ffc500;
  -webkit-box-shadow: 0 0 0 10px #ffc500;
  -moz-box-shadow: 0 0 0 10px #ffc500;
  color: #ededed; }

/*==== General Classes=========*/
.contrastBackground {
  background: white; }

.darkTexture {
  background: url("../images/bg/giftlyDark.png"); }

.lightTexture {
  background: url("../images/bg/squares.png"); }

.darkBg {
  background: #373838; }

.blueBg {
  background: #007898; }

.yellowBg {
  background: #ffc500; }

.redBg {
  background: #b93343; }

.lightIconsBg {
  background: url("../images/bg/giftly.png"); }

.collageBg {
  background: url("../images/collage2.png"); }

.grayShadow {
  box-shadow: 0 1px 3px #999999;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999; }

/*========Sections========*/
.mainContent {
  color: #6a6b6b; }
  .mainContent .postTeasers {
    background: #fff;
    padding: 4%;
    /*border: 1px solid #ddd;*/
    margin: auto; }
  .mainContent h4 {
    color: #007898;
    border-bottom: 1px dashed #999999;
    font-variant: small-caps;
    font-family: "Muli"; }
  .mainContent h2 {
    text-align: center; }

aside {
  /*background: $grayColor;*/ }
  aside h5 {
    color: #9a1f2d; }
  aside .categoriesSection {
    text-align: center;
    font-size: 0.8em; }
    aside .categoriesSection li {
      font-size: 0.9rem; }
  aside img {
    border: 5px solid black; }

footer.darkTexture {
  background-color: #002732;
  color: #999; }
footer ul[class*="block-grid-"] a {
  color: #005065; }
  footer ul[class*="block-grid-"] a:hover {
    color: #007898; }
footer fieldset {
  border: 1px solid #222222; }
  footer fieldset legend {
    background: none; }
  footer fieldset input[type="text"] {
    background: #000;
    border-color: #333; }
footer .vcard {
  border: 1px solid #222222; }
footer blockquote {
  border-left: 1px solid #333333; }

/*==========================GENERAL PAGES===============*/
body.generalPage {
  /*background: $lightIconsBg;*/ }
  body.generalPage .mainContent .columns {
    margin: 0; }

/*==============modules*/
/*====Hero Section*/
.section-link {
  color: #9a1f2d; }

h5.hero-title {
  font-family: "Muli"; }
